.kaushikpic {
    height: 19.5em;
    width: 21em;
    border-radius: 50%;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    object-position: center;
}

.home-pic {
    margin: 0 auto;
    text-align:center;
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 0;
    transform: translateY(60px);
    animation: floatIn 1s ease-out forwards;

}
@keyframes floatIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

