.project {
    width: 60%;
    background-color: rgb(40, 40, 40);    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}
.tech-dev {
    border: 1px solid rgb(103, 113, 226);
    width: 60%;
}
.tech {
    color: white;
    padding: 0.5em;
    border-radius: 5px;
}

.project-container {
    width: 72%;
    margin: 0 auto;
    text-align: center;
}

.project-btn {
    background-color: rgb(18, 17, 17); ;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.1s ease;
    font-size: 1em;
}

/* React Icon Styling */
.icon-github {
    font-size: 3em;
    color: rgb(85, 58, 161);
}

.icon-github:hover {
    transform: scale(1.05);
    color: rgb(57, 29, 134);

}

.projects-title {
    margin-bottom: 0.5em;
}